body{
font-family: Arial, Helvetica, sans-serif;
background-color: #005cad;
}
.box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 15px;
border-radius: 15px;

}
fieldset{
border: 3px solid #005cad;
}